################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IGCLWrapper/.vs/IGCLWrapper
/IGCLWrapper/IGCLWrapper/x64/Debug
/IGCLWrapper/IGCLWrapper.vcxproj.user
